@charset "utf-8";
#main {..............................................................}
#main { width:650px; margin:20px auto; background:#f3f3f3; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; color:#808080; padding-bottom:20px;}
h1 { background:#6fb109; border-top-left-radius:3px; border-top-right-radius:3px; -moz-border-top-left-radius:3px; -moz-border-top-right-radius:3px;  -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; line-height:35px; font-family:微软雅黑; font-size:16px; color:#fefefe; text-indent:1em;}
#main h1 a { float:right; margin-right:5px;}
#main h3 { width:90%; margin:14px auto 2px; font:14px 微软雅黑; }
.h3_03 { border-bottom:solid 1px #999999; padding-left:15px;}
#main p { clear:right; width:88%; margin-left:40px; font-family:宋体; }
#main p span { margin-right:60px;}

#main .all_progress {position:relative; width:536px; height:14px; margin:auto; background:url('../images/all_progress.png') no-repeat;}
#main .all_progress .all_progress_bg {position:absolute; z-index:1;height:14px;background:url('../images/all_progress_bg.png') no-repeat;}
#main h3 span.program_progress { margin-left:10px; font-size:18px; color:#333;}

#main .grouping { width:90%; margin:10px auto; background:#fff; border:solid 1px #bfbfbf; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

#main .progress {position:relative; width:556px; margin:auto; background:#c6c6c6; border:solid 1px #bcbcbc; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#main .progress .progress_bg {  position:absolute; z-index:1; width:554px; height:30px; margin:1px; background:url('../images/progress_bg.jpg') repeat-y ; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; _margin-top:-5px;}
#main .progress span {position:relative; z-index:10; font-family:微软雅黑; font-size:14px ; font-weight:bold; color:#fefefe; line-height:32px; margin-left:30px;}
#main .progress .groupFinish{margin-right:3px;float:right;}

#main #uploading{ float:right;}
#main #itemComplete{margin-top:20px;}
#main #itemComplete #InputFile{height:32px;position:absolute;z-index:1;left:250px;opacity:0;filter:alpha(opacity=0);cursor:pointer;}
#main #itemComplete #selectFile{ font:15px 微软雅黑; font-weight:bold;  letter-spacing:2px;display:block;height:34px;width:91px;position:absolute;background:#6FB109;color:#F2F2F2;  text-decoration:none;line-height:30px;text-align:center;-webkit-border-radius:6px;-moz-border-radius:6px;}
#main #itemComplete #fileSpan{margin-left:100px;margin-top:10px;float:left;}
#main #itemComplete #ProgressBar{width:572px;}

div.message p {position:relative; text-indent:2em;}
div.message span.message_date {float:right; margin-right:40px;}
#main .message .message_edit { float:right; margin:0; color:#9cdb3a;}
#main .message .message_edit a { color:#9cdb3a; margin: 0 8px;}

#message_area a,a:hover,a:visited { color:#999;}
#message_area {...............................................}
#message_area { width:650px; margin:20px auto; background:#f3f3f3; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; color:#808080; padding-bottom:20px;}
#message_area .message_edit { float:right; margin:0 18px; color:#6eae0c;}
#message_area .message_edit a,#message_area .message_edit span { color:#6eae0c; cursor:pointer; margin: 0 8px;}
#message_area #message_contant { overflow:hidden; clear:right; width:95%; margin:auto; border-top:solid 1px #838383; border-bottom:solid 1px #838383; padding-bottom:10px;}
#message_contant .message { clear:right; width:95%; margin:auto; border-bottom:solid 1px #bebebe;}
#message_contant #message_contant_text { float:left; display:none;}
#message_contant #message_contant_text #message_box{width:590px;height:156px;}
#message_contant button { float:right; cursor:pointer; margin-right:18px; border:none; text-decoration:underline; color:#6eae0c;}
#message_contant #message_alert { float:left; color:red;}
.currentPageBtn{font-weight: bold; font-size: 13px;border:none; color:#7EC215;}
#commentPager{margin-top:5px;}
