html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, img, ins, kbd, q, samp, strike, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{font-size:100%;margin:0; outline:0 none; padding:0;border:0 none;}
body,input,select,button { font-size:12px;  line-height: 20px; text-align: left; margin:0; padding:0;}
table{border-collapse:collapse;}
ul,li{ list-style: none;}
a { text-decoration:none; }
input{padding-left:2px;}